body {
  font-family: 'Calibri',YuGothic,'Yu Gothic',sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

.header {
  background-color: #ffffff;
  color: #000;
  background: rgba(255,0,0,0);
  width:100%;
  height: 120px;
  position: fixed;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 30px 40px;
}

.header-logo img{
  width: 70%;
}

.header-right {
  float: right;
  margin-top: 20px;
}

.header-right img{
  margin-top: 20px;
  width: 70%;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.side-menu {
  position: fixed; /* 画面に固定して追従させます */
  top:120px;
  left:0;
}

.side-menu li a{
  font-family: Futura, 'Century Gothic';
  font-weight: 500;
  margin-top: 50px;
  text-decoration: none;
  color: black;
  transform: rotate( 180deg );
	-webkit-writing-mode: vertical-rl; /* Chrome,Safari対応*/
      -ms-writing-mode: tb-rl; /* IE対応*/
          writing-mode: vertical-rl;

}

.main {
  padding: 120px 150px;
  text-align: center;
}



.century-blackwhite{
  font-family: Futura, 'Century Gothic';
  color: #FFF;
  -webkit-text-stroke: 0.4vh #000;
  font-size: 45px;
}


.copy-container{
  text-align: center;
  padding-top: 40px;
}

.copy-container img {
  width:50%;
}



.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: auto;
  /* margin-topを100pxにしてください */
  margin-top: 80px;
  width:100%;
  background-image: url("../images/background-big.png");
  background-size:cover;
  display: flex;
  padding-bottom: 30px
}

.contents-2 {
  height: auto;
  /* margin-topを100pxにしてください */
  margin-top: 100px;
  padding-top: 100px;
  width:100%;
  background-color: white;
  background-size:cover;
}

.swiper-slide img{
  width: 80%;
}



.contents-3 {
  height: auto;
  /* margin-topを100pxにしてください */
  margin-top: 100px;
  padding-top: 100px;
  width:100%;
  background-image: url("../images/background-big.png");
  background-size:cover;

}

.contents-4 {
  height: auto;
  /* margin-topを100pxにしてください */
  margin-top: 100px;
  padding-top: 100px;
  width:100%;
  background-color: white;
  background-size:cover;

}


.title {
  text-align: left;
}

.title img{
  width: 20%;
}

.contents-left .title img{
  width: 40%;
}




.contents-left {
  width:60%;
  height: 100%;
}

.contents-full{
  width: 100%;
  text-align: left;
}

.contents-left div{
  padding-top: 4vh;
  padding-left: 6vh;
  text-align: left;
}

.contents-left h3{
  font-size: 20px;
  margin-left: 120px;;
  font-weight: bold;
  text-align: left;
}

.contents-left p{
  margin-left: 120px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.contents-full div{
  padding-top: 4vh;
  padding-left: 6vh;
  text-align: left;
}

.contents-full h3{
  font-size: 20px;
  margin-left: 120px;;
  font-weight: bold;
  text-align: left;
}

.contents-full p{
  margin-left: 120px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.contents-full .button-upper p{
  margin-bottom: 80px;
}











.contents-right {
  width:40%;
  text-align: center;
}

.contents-right img {
  width:50%;
  padding-top:6vh;
  padding-right:15vh;
}


.contents-item {
  float: left;
  /* margin-rightを40pxにしてください */
  margin-right: 40px;

}

/* contents-itemの中のp要素のfont-size、margin-topを指定してください */
.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.button-container{
  text-align: center;
  padding-top: 50px;
}

.container-white{
  width: 90%;
  text-align: center;
  margin: 50px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  background-color: white;
}

.contents-image{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  height: auto;
}


.contents-image img{
  margin:20px;
  width: 20%;
}


.sns{
  margin-top: 100px;
  margin-bottom: 200px;
}

.sns a{
      margin: 10px 20px;
      position: relative;
}


.footer {
  background-color: #ffffff;
  color: #000;
  background: rgba(255,0,0,0);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index:999;
}

.footer .arrow{
  float: right;
  text-align: center;
}

.footer .arrow img{
  width: 60%;
}
